@media only screen and (max-width:900px) {
    #header .nav .depth1>li>a {
        font-size: 20px;
        color: gold;
        padding: 0px 15px;
    }
}

    @media only screen and (max-width:800px) {
        .slide-outer .slide .text p:nth-child(1) {
            font-size:6vw; /*추후조정*/
            max-width: 300px;
        }
      
        #header {position: relative;height: 100px;}
    
        #header h1 {padding-top: 25px; text-align: center;}
        #header h1 {font-size: 20px;}
        #header .open-gnb { display: block;
            position: absolute;
            top: 50%;transform: translateY(-50%);
            right: 15px;width: 25px;
            height: 17px; z-index: 99999;}

        #header .open-gnb span {
            display: block;
            width: 25px;height: 3px;
            background: gold;
            margin-bottom: 4px;
            border-radius: 10px;
            transition:all 0.5s ;
        }
        #header.on .open-gnb span:nth-last-of-type(2) {display: none;}
        #header.on .open-gnb span:nth-last-of-type(1) { transform:rotate(45deg) ;
        position: absolute; top: 10px;left: 0;} 
        #header.on .open-gnb span:nth-last-of-type(3) {transform: rotate(-45deg);
            position: absolute; top: 10px;left: 0;}

       #header .nav {display: none;  width: 320px; height: 100%; text-align: center; background: rgba(0, 0, 0, 0.7);
        position: fixed; top: 0%; right:-320px ; transform: translateY(0%);}
       #header.on .nav {display: block; z-index: 9999;} 
       #header.on .nav > h1 {display:block;font-size: 20px; color: gold;
        font-family: 'Major Mono Display', monospace; position: relative;top: 5px;}
       #header .nav .depth1 > li {display: block;  padding: 20px 0; }
       #header .nav .depth1 > li > a {display: block; font-size: 20px; 
        color:gold; padding: 10px 10px; position: relative; }
       #header .nav .depth1 > li > a:after {content: ''; display: block; width: 50px; height: 3px; 
        background: gold; position: absolute ;top:85%;left: 50%; transform: translateX(-50%);}


    }
    @media only screen and (max-width:600px) {
        .slide-outer .slide .text p:nth-child(1) {
            font-size:6vw; /*추후 조정*/
            max-width: 300px;
        }
        .slide-outer .slide .text p:nth-child(2) {
            font-size:14px; 
            margin-top:20px; 
            letter-spacing:6px;
        }
        
    }